*{
    font-family: 'Secular One', sans-serif;
}

body {
    background-color: rgb(228, 218, 218);
    height: 100vh;  
    margin: 0px;
    overflow: hidden;
  }

.container{
    position: absolute;
    width: 150%;
    height: 150%;
    transform: translate(-13%, -15%);
}

.text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 45%;
    left: 45%;
    z-index: -1;
}

.text{
    text-align: center;
}

.template>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
    transition: 0.5s;
    opacity: 0;
}

.template{
    transition: 0.5s;
}

.template:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.template:hover>img{
    opacity: 1;
    transition: 0.3s;
    transform: scale(1.01);
}

.template:nth-child(1){
    height: 17%;
    width: 13%;
    background: rgb(187, 14, 8);
    position: absolute;
    top: 20.42%;
    left: 5%;
   border-radius: 5px;
}

.template:nth-child(2){
    height: 20%;
    width: 7%;
    background: #a19191;
    top: 82%;
    left: 2%;
    position: absolute;
   border-radius: 5px;
}

.template:nth-child(3){
    height: 23%;
    width: 10%;
    background: #242210;
    top: 50%;
    left: 59.2%;
    position: absolute;
   border-radius: 5px;
}

.template:nth-child(4){
    height: 15%;
    width: 12.67%;
    background: #faf9e9;
    top: 29%;
    left: 55%;
    position: absolute;
   border-radius: 5px;
}

.template:nth-child(5){
    height: 22%;
    width: 12%;
    background: #091dd1;
    top: 37.5%;
    left: 22.4%;
    position: absolute;
   border-radius: 5px;
}

.template:nth-child(6){
    height: 12%;
    width: 11%;
    background: #e99210;
    top: 89%;
    left: 47%;
    position: absolute;
    border-radius: 5px;
}

.template:nth-child(7){
    height: 19%;
    width: 10.1%;
    background: #17acc0;
    top: 78.5%;
    left: 68.4%;
    position: absolute;
    border-radius: 5px;
}

.template:nth-child(8){
    height: 22%;
    width: 10%;
    background: #23ce56;
    top: 20%;
    left: 69%;
    position: absolute;
   border-radius: 5px;
}

.template:nth-child(9){
    height: 19%;
    width: 14%;
    background: #da2ecb;
    top: 74.3%;
    left: 13.9%;
    position: absolute;
   border-radius: 5px;
}

.template:nth-child(10){
    height: 17%;
    width: 9%;
    background: #ebde30;
    top: 29%;
    left: 87%;
    position: absolute;
   border-radius: 5px;
}

.template:nth-child(11){
    height: 22%;
    width: 15.835%;
    background: #026f83;
    top: 3%;
    left: 80.79%;
    position: absolute;
   border-radius: 5px;
}

.template:nth-child(12){
    height: 17%;
    width: 11.7%;
    background: #4e0b0b;
    top: 0.9%;
    left: 9.7%;
    position: absolute;
   border-radius: 5px;
}

.template:nth-child(13){
    height: 24%;
    width: 14.598771%;
    background: #ebde30;
    top: 0.97%;
    left: 50%;
    position: absolute;
   border-radius: 5px;
}

.template:nth-child(14){
    height: 22.798415%;
    width: 11.57%;
    background: #434d61;
    top: 7.3%;
    left: 30.9%;
    position: absolute;
   border-radius: 5px;
}

.template:nth-child(15){
    height: 20%;
    width: 10%;
    background: #69996c;
    top: 67.4%;
    left: 43%;
    position: absolute;
   border-radius: 5px;
}

.template:nth-child(16){
    height: 7%;
    width: 6%;
    background: #975314;
    top: 83%;
    left: 34%;
    position: absolute;
   border-radius: 5px;
}

.template:nth-child(17){
    height: 24.3%;
    width: 19.134%;
    background: #473ca8;
    top: 54.25%;
    left: 80%;
    position: absolute;
   border-radius: 5px;
}

.template:nth-child(18){
    height: 17%;
    width: 9%;
    background: #5cad9c;
    top: 49.7%;
    left: 9.9%;
    position: absolute;
   border-radius: 5px;
}